html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
html {
  background: linear-gradient(#577d9b36, #8fa6e5ad);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(111, 199, 133);
  /* this is a green */
}

.button-error {
  background: rgb(230, 96, 96);
  /* this is a maroon */
}

.button-warning {
  background: rgb(235, 152, 74);
  /* this is an orange */
}

.button-secondary {
  background: rgb(76, 168, 196);
  /* this is a light blue */
}
